.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.cart_list_main {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  max-height: 696px;
  margin: 0;
  padding-inline-start: 0;
  overflow-y: auto;
  list-style-type: none;
}

.cart_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  min-width: 571px;
  max-height: 696px;
  margin: 0;
  overflow-y: auto;
  list-style-type: none;
}

.price_total,
.price_total_number {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.price_total_number {
  gap: 8px;
}

.price_total p {
  margin: 0;
}

.price_total_number svg {
  width: 36px;
  height: 36px;
}

.element_card_list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

@media (width <= 1261px) {
  .burger_constructor {
    width: 100%;
    height: 100vh;
    padding-left: 8px !important;
    overflow: hidden auto;
  }

  .cart_list_main {
    max-height: unset;
  }
}
