.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
  margin: 0;
  padding-inline-start: 0;
  overflow: hidden auto;
  list-style-type: none;
}
