.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 16px;
  background-color: var(--background);
}

.price_total_number {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.price_total_number p {
  margin: 0;
}
