.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.layout form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}

p {
  text-align: center;
}
